/* ============ layout =========== */
.mailapp-grid {
    display: grid;
    grid-template-columns: 20rem 40rem 1fr;
    grid-template-rows: calc(1rem + 2 * var(--spacing)) 1fr;
    background-color: #dddddd;
    border: 0px solid red;
    flex: 1.0;
    max-height: 90vh;
}

.mailapp-grid .grid-toolbar {
    grid-column: 1 / span 3;
}


.folders-list-view {
    min-width: 10rem;
    padding: 0.0rem;
}
.mail.deleted {
    text-decoration: line-through;
}

.mail .subject {
    font-weight: bold;
}

.mail .timestamp {
    font-size: 80%;
}




.reading-mail-view {
    padding: 1rem;
    grid-column: 3/4;
    grid-row:2/3;
    overflow: auto;
    display:flex;
    flex-direction:column;
    align-items: stretch;

}

.reading-mail-view .subject-line {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 1rem;
}

.reading-mail-view .body-line {
    padding: 1rem;
    flex: 1.0;
}
