/* ============ layout =========== */
.mailapp-grid {
    display: grid;
    grid-template-columns: 20rem 40rem 1fr;
    grid-template-rows: calc(1rem + 2 * var(--spacing)) 1fr;
    background-color: #dddddd;
    border: 0px solid red;
    flex: 1.0;
    max-height: 90vh;
}

.mailapp-grid .grid-toolbar {
    grid-column: 1 / span 3;
}


.folders-list-view {
    min-width: 10rem;
    padding: 0.0rem;
}
.mail.deleted {
    text-decoration: line-through;
}

/*


.reading-mail-view {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1rem;
    background-color: #dddddd;
}

.reading-mail-view .subject-line {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 1rem;
}

.reading-mail-view .body-line {
    background-color: white;
    padding: 1rem;
}


.composing-mail-view {
    min-width: 40rem;
}


*/
/*
.move-mail-popup-wrapper {
    min-width: 10rem;
}
.move-mail-popup-wrapper  .generic-list-item {
    padding: 1rem;
}

*/
