.todoapp-grid {
    display: grid;
    grid-template-columns: 20rem 40rem 1fr;
    grid-template-rows: calc(1rem + 2 * var(--spacing)) 1fr;
    background-color: #dddddd;
    border: 0px solid red;
    flex: 1.0;
    max-height: 90vh;
}

.todoapp-grid .grid-toolbar {
    grid-column: 1 / span 3;
}


.todoapp-grid .projects-list-view {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.todoapp-grid .items-list-view {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: stretch;
}
.todo-item, .project-item {
    padding: 0.25rem 0.5rem;
    border: 2px solid transparent;
}

.todo-item .project {
    font-size: 70%;
    font-weight: bold;
}

.todo-item {
    align-items: center;
}
.project-item {
    align-items: center;
}

.todo-item.deleted {
    text-decoration: line-through;
}

.edit-panel {
    flex: 1.0;
    display: flex;
    flex-direction: column;
}

.edit-panel input {
    font-family: Franklin;
    font-size: 100%;
    padding: 0.25em 0.5em;
}

