
.standard-grid .projects-list-view {

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.standard-grid .items-list-view {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: stretch;
}
.todo-item, .project-item {
    border: 2px solid transparent;
    outline: none;
}

.todo-item .project {
    font-size: 70%;
    font-weight: bold;
}

.todo-item {
    align-items: center;
}
.project-item {
    align-items: center;
}

.todo-item.deleted {
    text-decoration: line-through;
}

.edit-panel {
    flex: 1.0;
    display: flex;
    flex-direction: column;
}

.edit-panel input {
    font-family: Franklin;
    font-size: 100%;
    padding: 0.25em 0.5em;
}

