/* ================= layout =============== */

.fillbox {
  display: flex;
  border:0px solid red;
  flex-direction: column;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #dddddd;
}
.hbox {
  display: flex;
  flex-direction: row;
}
.grow {
  flex: 1.0;
}
.hbox.stretch {
  align-self: stretch;
}

.hbox.selected {
  background-color: aqua;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.grow {
  flex: 1.0;
}


/* ============ fonts ========== */
@font-face {
  font-family: Franklin;
  src: url(fonts/librefranklin-regular.ttf) format('truetype');
}
@font-face {
  font-family: Franklin;
  src: url(fonts/librefranklin-bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Franklin;
  src: url(fonts/librefranklin-italic.ttf) format('truetype');
  font-style: italic;
}

body {
  font-family: Franklin;
  font-size: 12pt;
}


/* ======== default colors ============= */

html {
  --tool-bg: #aaaaaa;
  --content-bg: #dddddd;
  --focus-bg: #ffffff;
  --font-color: #333333;
  --spacing: 1.0rem;
}

/* ========= toolbars ========== */
.toolbar {
  background-color: var(--tool-bg);
  display: flex;
  flex-direction: row;
}
.toolbar button {
  background-color: transparent;
  border-width: 0;
  transition: all 0.1s;
}
.toolbar button:hover {
  background-color: aquamarine;
  color: #666666;
}
.toolbar button:active {
  background-color: mediumaquamarine;
}

/* ========= generic panels and list items ========= */

.panel {
  background-color: var(--content-bg);
  transition: all 0.15s ease-out;
  border: 1px solid gray;
  padding: var(--spacing);
  border-width: 0px 1px 0px 0;
  color: var(--font-color);
}
.panel:focus-within {
  background-color: var(--focus-bg);
}

.item {
  border: 0px solid red;
  padding: var(--spacing);
  background-color: transparent;
  transition: all 0.2s ease-out;
}
.item.selected {
  background-color: aquamarine;
}

/* =============== popup ============= */
.popup-container {
  position: fixed;
  top:0;
  display: none;
  background-color: white;
  border: 0px solid green;
  box-shadow: 0px 3px 4px rgba(50,50,50,0.5);
}
.popup-container.visible {
  display: block;
}

/* ============= dialog ============ */
.dialog-container {
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  display: none;
  background-color: rgba(255,255,255,0.8);
  flex-direction: column;
  align-items: center;
}
.dialog-container.visible {
  display: flex;
}
.dialog-container .dialog {
  margin: 10vh 0 0 0;
  max-width: 80vw;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid gray;
  background-color: white;
  box-shadow: 0px 3px 4px rgba(50,50,50,0.5);
  display: flex;
  flex-direction: column;
}

.dialog header {
  background-color: var(--tool-bg);
}
.dialog .body {
  flex: 1.0;
}
.dialog footer {
  background-color: var(--tool-bg);
  display: flex;
  flex-direction: row;
}


/*hr {*/
/*  display: block;*/
/*  border: 1px solid black;*/
/*  width: 100%;*/
/*}*/


/*.list-view {*/
/*  border:1px solid black;*/
/*  min-width: 10em;*/
/*}*/
/*.list-view:focus {*/
/*  border: 1px solid red;*/
/*}*/
/*.list-view-item {*/
/*  border: 1px solid black;*/
/*  padding: 1em;*/
/*}*/

/*.todo-item {*/
/*  border: 0px solid black;*/
/*  align-items: center;*/
/*  padding: 0.5rem;*/
/*}*/
/**:focus {*/
/*  border: 2px solid red !important;*/
/*}*/
/*.todo-item.deleted {*/
/*  color:#888;*/
/*  text-decoration: line-through;*/
/*}*/
/*.todo-item input[type='checkbox'] {*/
/*  margin: 0.25rem 0.5rem;*/
/*}*/
/*.todo-item .notes-indicator {*/
/*  margin-left: 0.5rem;*/
/*}*/

/*.empty-icon {*/
/*  width: 1rem;*/
/*}*/


/*.edit-panel {*/
/*  border: 1px solid green;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  padding: 0.5em;*/
/*  border-radius: 1em;*/
/*  margin: 0.5em;*/
/*  background: #dddddd;*/
/*}*/

/*.edit-panel textarea, .edit-panel input {*/
/*  font-family: sans-serif;*/
/*  font-size: 100%;*/
/*}*/


/*.hbox > .grow {*/
/*  flex: 1.0;*/
/*}*/


/*.popup-button-wrapper {*/
/*  border: 1px solid red;*/
/*  position: relative;*/
/*}*/
/*.popup-button-wrapper button {*/
/*  border: 1px solid black;*/
/*  box-sizing: border-box;*/
/*  height: 2rem;*/
/*}*/
/*.popup-wrapper {*/
/*  position: absolute;*/
/*  background: white;*/
/*  border: 1px solid black;*/
/*  list-style: none;*/
/*  padding: 0.5em 0;*/
/*  min-width: 5em;*/
/*  margin:0;*/
/*  top:2rem;*/
/*  left:0;*/
/*}*/
/*.popup-wrapper li {*/
/*  padding: 0.25em 0.5em;*/
/*}*/
/*.popup-wrapper li:hover {*/
/*  background: aqua;*/
/*}*/

/*.scroll {*/
/*  overflow: scroll;*/
/*}*/


/*.toolbar {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  background-color: #dddddd;*/
/*  height: 2rem;*/
/*  align-items: center;*/
/*}*/

/*.toolbar input[type='search'] {*/
/*  border: 1px solid #444;*/
/*  border-radius: 0.25rem;*/
/*  margin: 0.25rem;*/
/*  padding: 0.25rem;*/
/*}*/




/*.generic-list-view {*/
/*  background-color: #dddddd;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
/*.generic-list-view .generic-list-item {*/
/*  background-color: #dddddd;*/
/*  border: 5px solid #dddddd;*/
/*}*/
/*.generic-list-view .generic-list-item.selected {*/
/*  background-color: aqua;*/
/*}*/


/*button.selected {*/
/*  background-color: aqua;*/
/*}*/
