.fillbox {
  display: flex;
  border:0px solid red;
  flex-direction: column;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.hbox {
  display: flex;
  flex-direction: row;
}
.grow {
  flex: 1.0;
}
.hbox.stretch {
  align-self: stretch;
}

.hbox.selected {
  background-color: aqua;
}

.vbox {
  display: flex;
  flex-direction: column;
}

hr {
  display: block;
  border: 1px solid black;
  width: 100%;
}


.list-view {
  border:1px solid black;
  min-width: 10em;
}
.list-view:focus {
  border: 1px solid red;
}
.list-view-item {
  border: 1px solid black;
  padding: 1em;
}

button {
  border: 1px solid black;
  background-color: #ddd;
}
button.primary {
  background-color: aqua;
}


ul.shortcuts {
  list-style: none;
  min-width: 20em;
}
ul > li {
  border:0px solid red;
}
ul > li > ul {
  padding:0;
  padding-left: 0.5em;
  display: block;
}
ul > li > ul > li {
  display: inline;
  padding-left: 0.5em;
  font-weight: bold;
}

.items-view {
  min-width: 20em;
  width: 20em;
}

.todo-item {
  border: 0px solid black;
  align-items: center;
  padding: 0.5rem;
}
*:focus {
  border: 3px solid red !important;
}
.todo-item.deleted {
  color:#888;
  text-decoration: line-through;
}
.todo-item input[type='checkbox'] {
  margin: 0.25rem 0.5rem;
}
.todo-item .notes-indicator {
  margin-left: 0.5rem;
}

.project-item:focus {
  border: 0px solid red;
}
.project-item .title {
  padding-left: 0.5rem;
}

.empty-icon {
  width: 1rem;
}

.list-view {
  border: 2px solid black;
}
.list-view.focused {
  border: 2px solid red;
}

.edit-panel {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  border-radius: 1em;
  margin: 0.5em;
  background: #dddddd;
}

.edit-panel textarea, .edit-panel input {
  font-family: sans-serif;
  font-size: 100%;
}


.hbox > .grow {
  flex: 1.0;
}


.popup-button-wrapper {
  border: 1px solid red;
  position: relative;
}
.popup-button-wrapper button {
  border: 1px solid black;
  box-sizing: border-box;
  height: 2rem;
}
.popup-wrapper {
  position: absolute;
  background: white;
  border: 1px solid black;
  list-style: none;
  padding: 0.5em 0;
  min-width: 5em;
  margin:0;
  top:2rem;
  left:0;
}
.popup-wrapper li {
  padding: 0.25em 0.5em;
}
.popup-wrapper li:hover {
  background: aqua;
}

.scroll {
  overflow: auto;
}


.toolbar {
  display: flex;
  flex-direction: row;
  background-color: #dddddd;
  height: 2rem;
  align-items: center;
}

.toolbar input[type='search'] {
  border: 1px solid #444;
  border-radius: 0.25rem;
  margin: 0.25rem;
  padding: 0.25rem;
}




.scroll-wrapper {
  border:1px solid purple;
}
.generic-list-view {
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
}
.generic-list-view .generic-list-item {
  background-color: #dddddd;
}
.generic-list-view .generic-list-item.selected {
  background-color: aqua;
}
