/* ================= layout =============== */

.fillbox {
  display: flex;
  border:0px solid green;
  flex-direction: column;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #dddddd;
  box-sizing: content-box;
  height: 100vh;
}
.hbox {
  display: flex;
  flex-direction: row;
}
.grow {
  flex: 1.0;
}
.hbox.stretch {
  align-self: stretch;
}

.hbox.selected {
  background-color: aqua;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 1fr;
}

.left-edge {
  grid-column: 1/2;
  grid-row: 1/2;
}



/* ============ fonts ========== */
@font-face {
  font-family: Franklin;
  src: url(fonts/librefranklin-regular.ttf) format('truetype');
}
@font-face {
  font-family: Franklin;
  src: url(fonts/librefranklin-bold.ttf) format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Franklin;
  src: url(fonts/librefranklin-italic.ttf) format('truetype');
  font-style: italic;
}

body {
  font-family: Franklin;
  font-size: 12pt;
}


/* ======== default colors ============= */

html {
  --tool-bg: #aaaaaa;
  --tool-fg: #333;
  --content-bg: #dddddd;
  --focus-bg: #ffffff;
  --active-bg: aquamarine;
  --font-color: #333333;
  --spacing: 1.0rem;
}



/* ========= general ========== */

input {
  padding: 0.5rem 0.5rem;
  font-size: 100%;
  font-family: inherit;
}
input[type=search] {
  padding: 0.5rem 1.0rem;
  font-size: 1rem;
  border-radius: 2rem;
  background-color: var(--content-bg);
  border: 1px solid #888888;
}
input[type=search]:focus {
  border: 1px solid #333333;
  background-color: var(--focus-bg);
}

/* ========= toolbars ========== */
.toolbar {
  background: var(--tool-bg);
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
  min-height: calc(1.0rem + 2 * var(--spacing));
  color: var(--tool-fg);
  align-items: center;
}
.toolbar.vertical {
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.toolbar button {
  color: inherit;
  background-color: transparent;
  border-width: 0;
  transition: all 0.1s;
  border-radius: var(--spacing);
}
.toolbar button:hover {
  background: var(--active-bg);
  color: #666666;
}
.toolbar button:active {
  background-color: mediumaquamarine;
}
.toolbar button:disabled {
  background-color: transparent;
  color: #888;
}
.toolbar button:disabled:hover {
  color: #888;
}
.toolbar button.selected {
  background-color: var(--active-bg);
}

/* ========= generic panels and list items ========= */

.panel {
  background-color: var(--content-bg);
  transition: all 0.15s ease-out;
  border: 1px solid gray;
  padding: var(--spacing);
  border-width: 1px 1px 0px 0;
  color: var(--font-color);
}
.panel:focus-within {
  background-color: var(--focus-bg);
}

.item {
  border: 0px solid red;
  padding: var(--spacing);
  background-color: transparent;
  transition: all 0.2s ease-out;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item.selected {
  background: var(--active-bg);
}

/* =============== popup ============= */
.popup-container {
  position: fixed;
  top:0;
  display: none;
  background-color: white;
  border: 0px solid green;
  box-shadow: 0px 3px 4px rgba(50,50,50,0.5);
}
.popup-container.visible {
  display: block;
}


.list-menu {
  border: 0px solid red;
  list-style: none;
  margin:0;
  padding:0.5rem 0;
}
.list-menu li {
  border: 1px solid black;
  border-width: 0 0 1px 0;
  padding: 0.25rem 0.5rem;
  background-color: var(--focus-bg);
}
.list-menu li:last-child {
  border-width: 0 0 0px 0;
}
.list-menu li:hover {
  background-color: var(--active-bg);
}

/* ============= dialog ============ */
.dialog-container {
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  display: none;
  background-color: rgba(255,255,255,0.5);
  flex-direction: column;
  align-items: center;
}
.dialog-container.visible {
  display: flex;
}
.dialog-container .dialog {
  margin: 10vh 0 0 0;
  max-width: 80vw;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid gray;
  background-color: white;
  box-shadow: 0px 3px 4px rgba(50,50,50,0.5);
  display: flex;
  flex-direction: column;
}

.dialog header {
  background-color: var(--tool-bg);
}
.dialog .body {
  flex: 1.0;
}
.dialog footer {
  background-color: var(--tool-bg);
  display: flex;
  flex-direction: row;
}



.column-resizer {
  border: 0px solid red;
  cursor: col-resize;
  margin-left:-5px;
  width: 10px;
  box-sizing: border-box;
  z-index: 1;
  padding:0;
}

.standard-grid {
  position: relative;
  display: grid;
  grid-template-columns: 20rem 40rem 1fr;
  grid-template-rows: calc(1rem + 2 * var(--spacing)) 1fr;
  background-color: #dddddd;
  border: 0px solid red;
  flex: 1.0;
  max-height: 100vh;
}

.standard-grid .grid-toolbar {
  grid-column: 1 / span 5;
}

.col1 {
  grid-row: 2/3;
}
.col2 {
  grid-row: 2/3;
}
