.mailapp-grid {
    display: grid;
    grid-template-columns: 20rem 40rem 1fr;
    grid-template-rows: 2rem 1fr;
    border: 1px solid red;
    height: 100%;
}

.mailapp-grid .grid-toolbar {
    grid-column: 1 / span 3;
}


.folders-list-view {
    min-width: 10rem;
    padding: 0.0rem;
}

.folders-list-view .generic-list-item {
    padding: 0.5rem 1.0rem;
}

.mails-list-view {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #dddddd;
}

.mails-list-view .mail {
    padding: 1.0rem;
 }




.mails-list-view .subject {
    font-size: 90%;
}
.mails-list-view {
    font-weight: bold;
}

.mails-list-view .mail.read  {
    font-weight: normal;
}
.mail.deleted {
    text-decoration: line-through;
}



.reading-mail-view {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    min-width: 40rem;
    max-width: 40rem;
    padding: 1rem;
    background-color: #dddddd;
}

.reading-mail-view .subject-line {
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 1rem;
}

.reading-mail-view .body-line {
    background-color: white;
    padding: 1rem;
}


.composing-mail-view {
    min-width: 40rem;
}



.popup-container {
    position: fixed;
    top:0;
    display: none;
    background-color: white;
    border: 5px solid green;
}
.popup-container.visible {
    display: block;
}
